./node_modules
node_modules
.env
.terraform/
*.tfstate
*.tfstate.backup

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
.terraform.tfstate.lock.info
# Terraform local state, plans, and backup
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan